Repository VictorNanka/claude-copilot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint --fix"],
  "*.{js,json,md}": ["prettier --write"]
}

Refactor codebase to improve TypeScript type safety
  src/config.ts
  src/extension.ts
  src/mcp-client.ts
  src/server.ts
  src/types.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Refactor code for consistency and readability in MCP client and server
  src/mcp-client.ts
  src/server.ts
Due: prettier --write, eslint --fix

Release v0.1.1 - Add Yarn support and enhance TypeScript type safety
  package.json
  src/extension.ts
Due: prettier --write, eslint --fix

chore: relax build for ci
  package.json
  src/config.ts
  src/extension.ts
  src/logger.ts
  src/mcp-client.ts
  src/server.ts
  src/types.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

Fix Jest config and tests
  jest.config.js
  package.json
  src/config.ts
  src/extension.ts
  src/logger.ts
  src/mcp-client.ts
  src/server.ts
  src/types.ts
  tests/unit/config.test.ts
  tests/unit/extension.test.ts
  tests/unit/mcpClient.test.ts
  tests/unit/toolRegistration.test.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

Fix ESLint issues and update VS Code extension packaging
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .vscodeignore
  .yarn/install-state.gz
  .yarnrc.yml
  README.md
  eslint.config.mjs
  package.json
  src/claudeTools.ts
  src/extension.ts
  src/logger.ts
  src/server.ts
  src/test/extension.test.ts
  tests/e2e/extension.e2e.test.ts
  tests/unit/config.test.ts
  tests/unit/extension.test.ts
  tests/unit/mcpClient.test.ts
  tests/unit/systemPromptProcessing.test.ts
  tests/unit/toolRegistration.test.ts
  tsconfig.build.json
  yarn.lock
Due: prettier --write, eslint --fix

Fix CI/CD issues: resolve integration test failures
  coverage/base.css
  coverage/block-navigation.js
  coverage/claudeTools.ts.html
  coverage/config.ts.html
  coverage/extension.ts.html
  coverage/favicon.png
  coverage/index.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/claudeTools.ts.html
  coverage/lcov-report/config.ts.html
  coverage/lcov-report/extension.ts.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/logger.ts.html
  coverage/lcov-report/mcp-client.ts.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/server.ts.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov-report/types.ts.html
  coverage/lcov.info
  coverage/logger.ts.html
  coverage/mcp-client.ts.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/server.ts.html
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/types.ts.html
  jest.config.js
  tests/integration/apiEndpoints.test.ts
  tests/integration/mcp-integration.test.ts
  tests/integration/toolWorkflows.test.ts
Due: prettier --write, eslint --fix

Fix CI/CD issues: resolve integration test failures
  .yarn/install-state.gz
Due: none

Comprehensive CI/CD pipeline redesign for Yarn 4.x compatibility
  .github/workflows/ci.yml
  jest.config.js
  package-lock.json
  yarn.lock
Due: prettier --write

Prioritize Yarn usage across all CI/CD jobs
  .github/workflows/ci.yml
Due: none

Complete CI/CD redesign following industry best practices
  .github/workflows/ci.yml
  .yarn/install-state.gz
  jest.config.js
  yarn.lock
Due: prettier --write

fix: resolve Yarn 4.1.0 + Corepack compatibility issues in CI
  .github/workflows/ci.yml
Due: none

refactor: simplify CI workflow following 2025 best practices
  .github/workflows/ci.yml
  .yarn/install-state.gz
Due: none

fix: remove cache: 'yarn' to resolve Corepack incompatibility
  .github/workflows/ci.yml
Due: none

debug: add verification step to diagnose Yarn version issue
  .github/workflows/ci.yml
Due: none

fix: enable Corepack after Node.js setup
  .github/workflows/ci.yml
Due: none

fix: explicitly set Yarn version after Corepack enable
  .github/workflows/ci.yml
Due: none

fix: apply successful Yarn setup to all jobs and fix config validation
  .github/workflows/ci.yml
  src/config.ts
Due: prettier --write, eslint --fix

fix: resolve null pointer error in addDiscoveredTool
  src/extension.ts
Due: prettier --write, eslint --fix

feat: comprehensive VSCode extension testing architecture overhaul
  .github/workflows/ci.yml
  __mocks__/vscode.js
  jest.config.js
  tests/unit/toolRegistration.test.ts
Due: prettier --write, eslint --fix

fix: resolve platform-specific issues and improve test mocking
  .gitattributes
  .prettierrc.json
  src/extension.ts
  tests/unit/toolRegistration.test.ts
Due: prettier --write, eslint --fix

fix: resolve all remaining unit test failures - achieve 100% test success
  __mocks__/vscode.js
  tests/unit/extension.test.ts
  tests/unit/toolRegistration.test.ts
Due: prettier --write, eslint --fix

feat: comprehensive .gitignore cleanup - remove build artifacts and cache files
  .gitignore
  .yarn/install-state.gz
  coverage/base.css
  coverage/block-navigation.js
  coverage/claudeTools.ts.html
  coverage/config.ts.html
  coverage/extension.ts.html
  coverage/favicon.png
  coverage/index.html
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/claudeTools.ts.html
  coverage/lcov-report/config.ts.html
  coverage/lcov-report/extension.ts.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/logger.ts.html
  coverage/lcov-report/mcp-client.ts.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/server.ts.html
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov-report/types.ts.html
  coverage/lcov.info
  coverage/logger.ts.html
  coverage/mcp-client.ts.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/server.ts.html
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/types.ts.html
Due: prettier --write

Fix CI build by skipping TS checks (#1)
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/release.yaml
  .gitignore
  .prettierrc.json
  .vscodeignore
  .yarnrc.yml
  README.md
  __mocks__/vscode.js
  eslint.config.mjs
  jest.config.js
  package-lock.json
  package.json
  src/claudeTools.ts
  src/config.ts
  src/extension.ts
  src/logger.ts
  src/mcp-client.ts
  src/server.ts
  src/test/extension.test.ts
  src/types.ts
  tests/e2e/extension.e2e.test.ts
  tests/integration/apiEndpoints.test.ts
  tests/integration/mcp-integration.test.ts
  tests/integration/toolWorkflows.test.ts
  tests/unit/config.test.ts
  tests/unit/extension.test.ts
  tests/unit/mcpClient.test.ts
  tests/unit/systemPromptProcessing.test.ts
  tests/unit/toolRegistration.test.ts
  tsconfig.build.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: resolve HTTP server port opening issues on extension startup
  src/config.ts
  src/extension.ts
  src/server.ts
  src/types.ts
  tests/unit/config.test.ts
Due: prettier --write, eslint --fix

fix: resolve TypeScript type errors across codebase
  src/mcp-client.ts
  src/server.ts
  src/types.ts
Due: prettier --write, eslint --fix

fix: resolve TypeScript type errors across codebase (#4)
  src/mcp-client.ts
  src/server.ts
  src/types.ts
Due: prettier --write, eslint --fix

fix: resolve HTTP server port opening issues on extension startup (#3)
  src/config.ts
  src/extension.ts
  src/server.ts
  src/types.ts
  tests/unit/config.test.ts
Due: prettier --write, eslint --fix

chore: start vitest migration
  __mocks__/vscode.js
  jest.config.js
  package.json
  tests/integration/dynamic-tools.test.ts
  tests/integration/mcp-integration.test.ts
  tests/integration/runtime-discovery.test.ts
  tests/integration/tool-verification.test.ts
  tests/setup.ts
  tests/unit/extension.test.ts
  vitest.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

Switch to Yarn, update docs and scripts, improve server startup logging
  .vscodeignore
  CLAUDE.md
  package.json
  src/config.ts
  src/extension.ts
  src/server.ts
  src/types.ts
Due: prettier --write, eslint --fix

feat: migrate from Jest to Vitest for improved performance and compatibility
  __mocks__/vscode.js
  __mocks__/vscode.ts
  jest.config.js
  package.json
  tests/integration/apiEndpoints.test.ts
  tests/integration/dynamic-tools.test.ts
  tests/integration/mcp-integration.test.ts
  tests/integration/runtime-discovery.test.ts
  tests/integration/tool-verification.test.ts
  tests/integration/toolWorkflows.test.ts
  tests/setup.ts
  tests/unit/config.test.ts
  tests/unit/extension.test.ts
  tests/unit/mcpClient.test.ts
  tests/unit/systemPromptProcessing.test.ts
  tests/unit/toolRegistration.test.ts
  vitest.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: format code with Prettier
  src/config.ts
  src/extension.ts
  src/server.ts
  tests/setup.ts
Due: prettier --write, eslint --fix

fix: resolve vsce packaging issues with Yarn v4 compatibility
  package.json
Due: prettier --write

fix: resolve vsce packaging compatibility issues with Yarn v4
  CLAUDE.md
  package.json
  scripts/package.js
Due: prettier --write

feat: migrate from Yarn v4 to Bun package manager
  .github/workflows/ci.yml
  .gitignore
  .yarnrc.yml
  CLAUDE.md
  package-lock.json
  package.json
  scripts/package.js
  yarn.lock
Due: prettier --write

fix: resolve CI/CD pipeline failures and improve Bun compatibility
  .github/workflows/ci.yml
  package.json
  scripts/package.js
Due: prettier --write

fix: complete Bun-native CI/CD solution for all pipeline failures
  .github/workflows/ci.yml
  package-lock.json
  package.json
  scripts/package.js
  src/config.ts
  src/extension.ts
  src/server.ts
  tests/setup.ts
Due: prettier --write, eslint --fix

fix: complete Bun-native CI/CD solution for all pipeline failures (#7)
  .github/workflows/ci.yml
  package-lock.json
  package.json
  scripts/package.js
  src/config.ts
  src/extension.ts
  src/server.ts
  tests/setup.ts
Due: prettier --write, eslint --fix

Update CLAUDE.md
  CLAUDE.md
Due: prettier --write
